albumentations==2.0.8
beautifulsoup4==4.14.2
clip==0.2.0
comet_ml==3.53.1
coremltools==8.3.0
duckdb==1.4.1
dvclive==3.48.5
flatbuffers==25.9.23
hub_sdk==0.0.24
ipython==8.12.3
lancedb==0.25.2
lap==0.5.12
lvis==0.5.3
matplotlib==3.10.7
mss==10.1.0
ncnn==1.0.20250916
nncf==2.18.0
numpy==2.3.3
onnx==1.19.1
onnx2tf==1.28.2
onnxruntime==1.23.1
onnxslim==0.1.71
openai==2.3.0
opencv_python==4.10.0.84
openvino==2025.3.0
paddle==1.1.0
pafy==0.5.5
pandas==2.3.3
Pillow==11.3.0
psutil==6.0.0
py_cpuinfo==9.0.0
pycocotools==2.0.10
pytest==8.4.2
pytubefix==10.0.0
PyYAML==6.0.1
PyYAML==6.0.3
ray==2.49.2
Requests==2.32.5
roboflow==1.2.10
sahi==0.11.36
scipy==1.16.2
seaborn==0.13.2
sentry_sdk==2.41.0
Shapely==2.1.2
streamlit==1.50.0
streamlit_select==0.3
super_gradients==3.7.1
tensorflow==2.20.0
tensorflowjs==4.22.0
tensorrt==10.13.3.9
tflite_runtime==2.14.0
tflite_support==0.4.4
torch==2.4.1
torchvision==0.19.1
tqdm==4.66.5
transformers==4.57.1
tritonclient==2.61.0
ultralytics_thop==2.0.8
wandb==0.22.2
x2paddle==1.6.0
yt_dlp==2025.9.26
